# ==========================================
# WorkFlow production environment
# ==========================================

# PostgreSQL
POSTGRES_DB=workflow
POSTGRES_USER=workflow
POSTGRES_PASSWORD=change_me_postgres_password
POSTGRES_PORT=5432

# Backend
BACKEND_PORT=2000
JWT_SECRET=change_me_super_secret_jwt_key
JWT_EXPIRES_IN=1d
DEVICE_INGESTION_TOKEN=change_me_device_token

# MinIO
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ACCESS_KEY=rootadmin
MINIO_SECRET_KEY=change_me_minio_password
MINIO_BUCKET_NAME=workflow-documents

# Frontend
FRONTEND_PORT=3000

# URL widoczny dla frontendu i przeglądarki użytkownika.
# Lokalnie:
NEXT_PUBLIC_API_URL=http://backend:2000
NGINX_PORT=80

# Minimal seed
SEED_DEFAULT_PASSWORD=Admin123!


# Cookie bezpieczeństwa
# false = lokalny Docker po HTTP
# true = produkcja po HTTPS
AUTH_COOKIE_SECURE=false

# Na serwerze produkcyjnym przykład:
# NEXT_PUBLIC_API_URL=https://api.twoja-domena.pl