# =========================
# ZALEŻNOŚCI (Bardzo ważne!)
# =========================
node_modules/

# =========================
# ZMIENNE ŚRODOWISKOWE
# =========================
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production
tools/device-simulator/device-events.local.json

# =========================
# NEXT.JS (Frontend)
# =========================
.next/
out/
build/

# =========================
# NESTJS (Backend)
# =========================
dist/

# =========================
# LOGI I PLIKI SYSTEMOWE
# =========================
npm-debug.log*
yarn-debug.log*S
yarn-error.log*
*.log
.DS_Store
Thumbs.db

# =========================
# IDE / EDYTORY
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/

# =========================
# DOCKER
# =========================
docker-compose.override.yml


# LaTeX build files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.lof
*.lol
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.nav
*.snm
*.vrb
*.bbl-SAVE-ERROR